@font-face {
    font-family: monospace;
    src: url(resources/Anonymous.ttf);
}

body {
    background: url("resources/null2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.casillaalfa {
    border-radius: auto;
    border-style: double;
    border-color: coral;
}

.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#carouselExampleIndicators {
    padding: 0px;
    border: 1px solid;
    border-color: black;
}

.navbar {
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.342) !important;
    font-family: monospace;
}

.navbar-nav {
    font-family: monospace;
    font-size: larger;
}

.nav-item {
    padding-left: 5rem;
}


.accordion {
    width: 1000px;
}

.union{
    /* margin: 50px auto;
    float: none;
    margin-bottom: 20px;
    width: auto;
    height: auto; */

    display: flex;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}

.cardcv {
    /* margin: 2rem auto; */
    float: none;
    /* margin-bottom: 10px auto; */
    margin-right: 50px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
}


/* .cajabotones{
    justify-content: center;
    
} */

.btn1{
    margin-left: 20% !important; 
    margin-right: 5% !important;
   
}

.btn2{

    margin-left: 20% !important; 
    margin-right: 5% !important;

}

.container{
    margin-top: 3vw;
}


.btn {
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

.card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    height: 350px;
    width: 250px;
    margin-right: 3rem;
}

.card:hover .gradient {
    opacity: 1;
}

.gradient {
    position: absolute;
    background-image: linear-gradient(180deg, #ec6824, transparent);
    height: 100%;
    width: 100%;
    right: 0px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 0;
}

.centradocards img{
    z-index: 1;


}

.info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem;
    margin-top: 4rem;
}

.text {
    color: rgb(29, 28, 28);
}

.time {
    position: absolute;
    bottom: 0;
    padding: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.centradocards {
    margin: 10px auto;
    /* margin-left: 550px; */
    float: none;
    margin-bottom: 10px;
}

.rowcard {
    margin-top: 30px;
}

.top {

    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #00000094;
    border-radius: 100px;
    position: fixed; 
    bottom: 25px; 
    right: 25px; 
    z-index: 900;



    /* place-self: end;
    position: sticky;
    margin-top: 100vh;
    bottom: 10px;
    margin-left: 190vh; */
  }

  .imagenlogo{

    margin-top: 5px;

  }

  .casillacorreo {

    background: url(resources/pexels-vedanti-242616.jpg);

    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 1rem;

  }


  .formtext{
    color: #815F1B;
  }